.more-button {
  background-color: #0177ff;
  height: 30px;
  border-radius: 15px;
  border: none;
  color: white;
  width: 180px;
  text-align: center;
  font-weight: bold;
  font-size: 15px;
}

.newshouse-text {
  color: #0177ff;
  font-size: 10px;
}

.hidden {
  display: none;
}
