@import 'variables';

.container {
  width: 65%;
  height: 100%;

  &--fluid {
    width: 100%;
  }

  @media (max-width: $large) {
    width: 80%;
    padding: 20px;
  }

  @media (max-width: $small) {
    width: 100%;
    padding: 20px;
  }
}
